/* global styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw); /*  general text like anchor, text , input, etc. */
  --special-color: #906272;
  --background-color: #414141;
  --grey-text: #525252;
}
h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
  font-weight: normal;
}
h4,
h5 {
  font-size: var(--header4);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* button {
  padding: 2rem 6rem;
  color: white;
  background: #4c6e97;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
button:hover {
  background-color: #131c27;
}
button:focus {
  background: #16212e;
} */
