/* global styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ruhl", sans-serif;
  animation: refresh 1s ease-in-out;
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw); /*  general text like anchor, text , input, etc. */
  --big-text: calc(2rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --burger-color: #a7bb59;
  --grey-text: #525252;
}

@font-face {
  font-family: "Ruhl";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}

h1 {
  font-size: var(--header1);
  font-family: "Vibes", sans-serif;
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
  font-weight: normal;
}
h4,
h5 {
  font-size: var(--header4);
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* nav section  */
.main-header {
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  min-height: 10vh;
  padding: 2rem 0rem;
}
.nav-links {
  flex: 1 1 20rem;
  display: flex;
  justify-content: space-around;
  color: black;
}
#logo {
  flex: 1 1 20rem;
}

/* hero section */
.hero {
  display: flex;
  flex-flow: row wrap;
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  overflow: hidden;
}
.hero-introduction {
  flex: 2 1 50rem;
  text-align: center;
}
.hero-introduction h2 {
  padding: 2rem;
}
.hero-introduction p {
  padding: 5rem 10rem;
  color: var(--grey-text);
}
.hero-introduction a {
  padding: 2rem 8rem;
  border: 0.3rem solid black;
  margin-bottom: 4rem;
}
.hero-images {
  flex: 1 1 50rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: 1;
}

.hero-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: sepia(0.1);
}
.plant {
  position: absolute;
  bottom: 0%;
  left: -20%;
  z-index: -1;
  max-width: 80%;
  animation: shake 2.5s ease-in-out infinite alternate-reverse;
}
.plant2 {
  left: 40%;
}

/* about section  */

.about {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
}
.about-image {
  flex: 1 1 40rem;
  position: relative;
}
.about-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-image h5 {
  font-size: var(--header2);
  font-weight: 300;
  position: absolute;
  color: white;
  letter-spacing: 2rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.about-text {
  padding: 3rem 8rem;
  flex: 2 1 40rem;
  background: var(--background-color);
  color: white;
  justify-content: space-around;
}
.about-text h2 {
  font-family: "Vibes";
  font-weight: 400;
}
.about-life h3,
.about-work h3,
.about-contact h3 {
  padding-bottom: 2rem;
}

/* section gallery  */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100vh;
  position: relative;
}
.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery1 {
  grid-column: 1/3;
}
.gallery2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.gallery-header {
  position: absolute;
  background: var(--background-color);
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem 20rem;
  text-align: center;
  opacity: 0.8;
}
/* animations */
@keyframes refresh {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake {
  from {
    transform: rotateZ(-3deg) rotateX(-10deg);
  }
  to {
    transform: rotateZ(0deg) rotateX(0deg);
  }
}

/* media queries  */
@media screen and (max-width: 1051px) {
  /* nav burguer section at mobile version*/
  .burguer-container {
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
    /* border: 2px solid greenyellow; */
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .burguer {
    position: relative;
    height: 0.4rem;
    width: 3rem;
    background: var(--burger-color);
    border-radius: 8px;
    /* transition: transform 0.5s ease-in-out; */
  }

  .burguer::before,
  .burguer::after {
    content: "";
    position: absolute;
    height: 0.4rem;
    width: 3rem;
    background-color: var(--burger-color);
    border-radius: 8px;
    transition: all 0.5s ease;
  }
  .burguer::before {
    transform: translateY(-9px);
  }
  .burguer::after {
    transform: translateY(9px);
  }
  /* cross animation burguer */
  .burguer.openCross {
    /* transform: translateX(-30px); */
    background: transparent;
  }
  .burguer.openCross::before {
    transform: rotate(45deg);
  }
  .burguer.openCross::after {
    transform: rotate(-45deg);
  }
  /* ------------- */
  .nav-links {
    position: fixed;
    background-color: var(--background-color);
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    transition: bottom 0.8s ease-in-out;
  }

  .nav-links li a {
    color: white;
    font-size: var(--header3);
  }
  .nav-links.open {
    bottom: 0;
  }

  /* hero section  */
  .hero {
    width: 100%;
  }
  .hero-introduction p {
    padding: 0rem 3rem 3rem 3rem;
    text-align: center;
  }
  /* about section  */
  .about-text {
    padding: 2rem 4rem;
  }
  .about-life h3,
  .about-work h3,
  .about-contact h3 {
    padding: 0.5rem 0.5rem;
  }
  /* gallery section  */
  .gallery img {
    grid-column: auto;
    grid-row: auto;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
